.header-container {
  display: inline-block;
  width: 100%;
  height: 70px;
  background-color: #424242;
  position: fixed;
  top: 0;
}

.logo {
  display: block;
  height: 30px;
  float: left;
  margin: 20px 0px 20px 40px;
}

.icon-box-remove {
  font-size: 30px;
  color: white;
  float: right;
  margin: 20px 40px 20px 0px;
}

.icon-box-remove:hover {
  color: #12DEF6;
}

.cover-container {
  display: inline-block;
  width: 100%;
  height: 500px;
  background: url(../img/cover-bg.jpg) no-repeat center center;
  padding-top: 70px;
}

.avatar-container {
  display: block;
  width: 260px;
  height: 260px;
  border-radius: 240px;
  float: left;
  bottom: 0;
  margin: 130px 0px 40px 40px;
  background: url(../img/avatar.jpg) no-repeat;
  background-size: 100% auto;
  border: 2px solid white;
}

.user-info-container {
  display: block;
  margin: 220px 0px 0px 40px;
  float: left;
}

.user-name {
  display: block;
  text-align: left;
  font-size: 21px;
  color: white;
}

.user-desc {
  display: block;
  text-align: left;
  font-size: 14px;
  color: white;
  bottom: 0;
}

.setting-button {
  display: block;
  float: right;
  margin: 50px 40px 0px 0px;
  background-color: #12DEF6;
  border-radius: 2px;
  font-size: 16px;
  text-align: center;
  color: white;
  padding: 10px 40px;
}

.setting-button:hover {
  background-color: #0FBBCF;
}

ul {
  display: inline-block;
  width: 100%;
  height: auto;
  list-style-type: none;
  margin: 0;
}

#list1 {
  width: 100%;
  list-style-type: none;
  margin: 0px;
  padding: 40px 10px 80px 10px;
  text-align: center;
}

#list1 li {
  margin: 10px 10px 10px 10px;
  width: 22%;
  height: 200px;
  display: inline-block;
}

#list1 div {
  width: 100%;
  height: 100%;
  background-color: #E0E0E0;
  text-align: center;
  padding-top: 90px;
}

.placeHolder div {
  background-color: white !important;
  border:dashed 1px gray !important;
}



.fileinput-button {
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px !important;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}




